@use "sass-utils" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
}

body {
  background-color: $backg-color;
  header {
    width: fit-content;
    margin: auto;
    h1 {
      text-align: center;
    }
    ul {
      margin-top: 3rem;
      list-style-type: none;
      li {
        margin: 0 1rem;
        display: inline;
        @include moving-underline(black);
        &:first-of-type {
          margin-left: 0;
        }
      }
    }
  }
  main {
    margin-top: 10rem;
    .is-layout-flex {
      display: flex;
      justify-content: center;
      gap: 15%;
      .is-vertically-aligned-center {
        align-self: center;
        background-color: $box-color;

        .has-text-align-center {
          text-align: center;
        }
      }
      div {
        width: 500px;
        figure,
        img {
          width: 500px;
          height: 500px;
        }
      }
    }
    .wp-block-columns:nth-child(odd) {
      .wp-block-column:nth-child(1) {
        padding: 5rem 5rem 5rem 20vw;
        border-radius: 0 15rem 15rem 0;
      }
      .wp-block-column:nth-child(2) {
        padding-right: 20vw;
      }
    }
    .wp-block-columns:nth-child(even) {
      .wp-block-column:nth-child(2) {
        padding: 5rem 20vw 5rem 5rem;
        border-radius: 15rem 0 0 15rem;
      }
      .wp-block-column:nth-child(1) {
        padding-left: 20vw;
      }
    }
  }
}
#news-section {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  .post {
    @include rounded-corners(1rem, 20px);
    margin: 20px;
    background-color: $box-color;
    .post-timestamp {
      font-size: 12px;
      font-weight: 400;
    }
    h2 {
      margin-bottom: 2px;
    }
    p {
      margin-bottom: 8px;
      font-size: 14px;
    }
    a {
      color: black;
      font-weight: regular;
      text-decoration: none;
      @include moving-underline(#5eb39c);
    }
  }
}
.categoryCard {
  color: $text-color;
  background-color: $category;
  padding: 10vh;
  text-align: center;
  border: 1px solid black;
  &:hover {
    background-color: $btn-color;
    font-weight: 600;
  }
}
.productCard{
text-align: center;
background-color: $box-color;
  img {  
    max-width: 100%;  
    height: 250px;  
    }  
}

@media (min-width: 1366px) {
  #news-section {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1921px) {
  #news-section {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

i {
  list-style-type: none;
  display: row;
  justify-content: center;  
  display: inline-block; 
  margin-left: -300px;
  margin: 4px;
  color: rgb(0, 0, 0);

}


.fa{
  color:#000000;
  font-size:20px;
  margin: 4px;
  margin-bottom: -800px;
  }

a {
  color: rgb(0, 0, 0);
    text-decoration: none;
    list-style-type: none;
  

}

.wrapper {
  background-color: $footer;
  padding: 20px;
  display: row;




}

#footerMenu {
text-align: left;
}



// }

/* FOOTER*/

.storeName {
  font-weight: bold;
  padding: 20px;
}


#socials {
  margin: 20px;
  font-size: 25px;
  

}

.links {
  margin-bottom: 2px;
  margin-top: 20px;
  padding: 100px 15%;
  background: $footer;
  color: black;
  display: flex;
}

.footer {
  margin-bottom: 2px;
  margin-top: 20px;
  padding: 100px 15%;
  background: $footer;
  color: black;
  display: flex;
}

.footer div {
  text-align: center;

}

.col-2 {
  flex-grow: 2;
}


 .footer div h3{
  font-weight: 300;
  margin-bottom: 30px;
  letter-spacing: 1px;
 }

form input {
  width: 300px;
  height: 45px;
  border-radius: 4px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  outline: none;
  border: none;
}

form button {
  background: transparent;
  border: 1px solid black;
  color: rgb(0, 0, 0);
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 15px;
  cursor: pointer;
}



.social-icons {
  margin-top: 10px;
}

.social-icons i {
  font-size: 22px;
  margin: 10px;
  cursor: pointer;
}


/*
main {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

section {
  background-color: $box-color;
  border: $circle-border-width * 0.2px solid 
  $box-color;
  border-radius: 12%;
  width: $circle-diameter * 0.6px;
  height: $circle-diameter * 0.3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  margin-top: -80px;
  text-align: center;
  box-shadow: circle-drop-shadow(5, 
  $box-color);
  color: $backg-color;
  padding: 10px;
}
*/
