@use "sass-utils" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
}

body {
  background-color: $backg-color;
  header {
    width: fit-content;
    margin: auto;
    h1 {
      text-align: center;
    }
    ul {
      margin-top: 3rem;
      list-style-type: none;
      li {
        margin: 0 1rem;
        display: inline;
        @include moving-underline(black);
        &:first-of-type {
          margin-left: 0;
        }
      }
    }
  }
  main {
    margin-top: 10rem;
    .is-layout-flex {
      display: flex;
      justify-content: center;
      gap: 15%;
      .is-vertically-aligned-center{
        align-self: center;
        background-color: $box-color;

        .has-text-align-center{
          text-align: center;
        }
        &:nth-child(1){
          padding: 5rem 5rem 5rem 50vw;
        }
        &:nth-child(2){
          padding-right: 25vw;
        }
      }
      div {
        width: 500px;
        figure, img {
          width: 500px;
          height: 500px;
        }
      }
    }
  }
}
#news-section {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  .post {
    @include rounded-corners(1rem, 20px);
    margin: 20px;
    background-color: $box-color;
    .post-timestamp {
      font-size: 12px;
      font-weight: 400;
    }
    h2 {
      margin-bottom: 2px;
    }
    p {
      margin-bottom: 8px;
      font-size: 14px;
    }
    a {
      color: black;
      font-weight: regular;
      text-decoration: none;
      @include moving-underline(#5eb39c);
    }
  }
}
.categoryCard {
  color: $text-color;
  background-color: $category;
  padding: 10vh;
  text-align: center;
  border: 1px solid black;
  &:hover {
    background-color: $btn-color;
    font-weight: 600;
  }
}

@media (min-width: 1366px) {
  #news-section {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1921px) {
  #news-section {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/*
main {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

section {
  background-color: $box-color;
  border: $circle-border-width * 0.2px solid 
  $box-color;
  border-radius: 12%;
  width: $circle-diameter * 0.6px;
  height: $circle-diameter * 0.3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  margin-top: -80px;
  text-align: center;
  box-shadow: circle-drop-shadow(5, 
  $box-color);
  color: $backg-color;
  padding: 10px;
}
*/
