@use "sass-utils" as *;

* {
  margin: 0;
  box-sizing: inherit;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
}

body {
  background-color: $backg-color;
}

main {
  #news-section {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .post {
      @include rounded-corners(1rem, 20px);
      margin: 20px;
      background-color: $box-color;
      .post-timestamp {
        font-size: 12px;
        font-weight: 400;
      }
      h2 {
        margin-bottom: 2px;
        font-weight: bold;
      }
      p {
        margin-bottom: 8px;
        font-size: 14px;
      }
      a {
        color: black;
        cursor: pointer;
        font-weight: regular;
        text-decoration: none;
        background: rgb(255, 255, 255),
          linear-gradient(to right, #5eb39c, #5eb39c);
        background-size: 100% 2px, 0 2px;
        background-position: 100% 100%, 0 100%;
        background-repeat: no-repeat;
        transition: background-size 300ms;
      }

      a:hover {
        background-size: 0 2px, 100% 2px;
      }
    }
  }

  #single-page-wrapper {
    background-image: url("https://i.pinimg.com/564x/bc/6e/1c/bc6e1c3d16321f265e2a2c2b0de0c9a7.jpg");
    background-repeat: repeat;
    height: 100vh;
    padding-top: 60px;
    #single-page-content {
      background-color: $box-color;
      @include rounded-corners(1rem, 20px);
      border: 1px solid #555;
      width: 40%;
      margin: auto;
      padding: 20px;
      h2 {
        font-size: 1.8rem;
        font-weight: bold;
        margin-bottom: 8px;
      }
      p {
        margin-bottom: 12px;
      }
      button {
        cursor: pointer;
      }
    }
  }
}

@media (min-width: 1366px) {
  #news-section {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1921px) {
  #news-section {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/*
main {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

section {
  background-color: $box-color;
  border: $circle-border-width * 0.2px solid 
  $box-color;
  border-radius: 12%;
  width: $circle-diameter * 0.6px;
  height: $circle-diameter * 0.3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  margin-top: -80px;
  text-align: center;
  box-shadow: circle-drop-shadow(5, 
  $box-color);
  color: $backg-color;
  padding: 10px;
}
*/
