// $text-sect: rgb(249, 247, 235);
// $border-color: mix(rgb(70, 156, 153), rgb(255, 192, 255));
// $text-color: black;
// $sec-border: rgb(35, 31, 55);


$box-color: #FFDAD2; // & category
$text-color: black;
$btn-color: #5EB39C;
$footer: #cfe7cf;
$category: #FCECB8;
$backg-color: #FAFAFA;


